.children{
  display: flex;
  flex-grow: 1;

}
.session{
  margin: 25px;
  padding: 25px;
  background-color: rgba(69,57,204,.3);
}
.session h3{
  text-align: center;
}
.site{
  margin-bottom: 25px;
}
.site a{
  display: block;
  cursor: pointer;
  text-align: center;
}
.site iframe{
  border: none;
}

@media only screen and (max-width: 600px) {
  .children{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .session{
    
  }
}